{% extends "base/base_bootstrap.html" %}

{% block content %}
    <main class="container">
        <h1 class="text-center my-5">
            {% if post.owner == user %}
            <span style="float: right;">
            <a class="text-dark mr-5" href="{% url 'pages:post_update' post.id %}"><i class="fas fa-pencil-alt"></i></a>
            <a class="text-dark" href="{% url 'pages:post_delete' post.id %}"><i class="far fa-trash-alt"></i></a>
            </span>
            {% endif %}
            {{post.title}}
        </h1>
        <div>{{post.body| safe }}</div>

        {% if post.image %}
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{post.image.url}}" class="d-block" alt="..." style="max-height: 500px; overflow: auto;">
            </div>
          </div>
        </div>
        <div class="alert alert-dark tags my-4 " role="alert">
          Tags: {% for tag in post.tags.all %} #{{tag}} {% endfor %}
        </div>
          {% endif %}

        <div class="comment-section border-top pt-4">
          {% for comment in comments %}
            <div>
              <p class="fw-bold mb-0">{{comment.owner}}</p>
              <p>{{comment.text}}</p>
            </div>
          {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <p>
        {% load crispy_forms_tags %}
        <form method="post" action="{% url 'pages:all' %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
        <input class="mt-4 me-2 btn btn-dark" type="submit" value="Submit">
        <input class="mt-4 btn btn-dark" type="submit" value="All Post" onclick="window.location.href='{% url 'pages:all' %}';return false;">
        </form>
        </p>
        {% endif %}

    </main>


{% endblock content %}